version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'npm'
    directory: '/website'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: '@mdx-js/react'
